body {
    padding:0px;
    width:1400px;
    margin:0 auto;
    background:#e9ebee;
     font-family: Verdana;
 font-size: 15px;
    color:#072b38;
}
a {
    color:#666666;
    text-decoration:none;
}
a:hover{
    color:#d3a500;
    text-decoration:underline;
}
header{
padding:20px;
background:#fff;
    display: flex;
    border-bottom:1px solid #e9ebee;
}
section{
    clear:both;
    
}
.clearboth{
    clear:both;
}
#logo {
    margin-right:50px;
}
#wyszukaj{width:1000px;float:left;}
#menu{
    margin-right:10px;
}
#koszyk{
    width:150px;
    text-align:center;
}

ul.sub-menu{
    display:none;
    opacity:0;
    margin-top:-44px;
    
}

.suma{
    margin-left:20px;
    margin-top:0px;
    margin-bottom:0px;
    width:100px;
}



textarea{
    width: 100%;
    height: 100px;
}


li.sub-menu{position:relative;
    height:20px;
    background:#c1c1c1;
left: 300px;
    height: 20px;
    background: #c1c1c1;
padding:15px;
}



ul.plog{

padding:0;
margin:0;
}

#dplog{
    z-index:1;
    opacity:0;   
    position: absolute;
    top:75px;
  
}
.ile{
    width:50px;
}

li.plog{
list-style-type:none;
    height: 20px;
    padding:10px;
    
}
li.plog a,li.plog a:hover{color:#E9EBEE;}


#plogowania:hover #dplog{
    padding:5px;
    background:#1c637e;
    border-radius:10px;
    opacity:1;
}


#plogowania{
    width:300px;
    line-height:22px;
    margin-left:50px;
}



#plogowania img
{
    float:left;
    margin-right:10px;
}
main
{
        display: flex;
    background:#fff;
    padding: 0px 20px 100px 0px;
}
#ksiazkaopis{
    display:flex;
    float:right;
}
#podsumowanie{
    text-align:right;
}
div.cechy{
    width:500px;
}
span.bold {
    font-size: 26px;
    font-weight:bold;
}
span.boldnormal {
    font-weight:bold;
}
div.cena{
border:1px solid #E5E3E3; 
border-radius:5px;
    padding:10px;
    height:80px;
    margin-top:50px;
}

.btnszukaj{
    
        background-image: url(img/find.png);
        background-repeat: no-repeat;
    background-color:#1c637f;
     background-position: center; 
    border:0px;
            margin-left:5px;

    
    
}
h1 {
    padding: 0px 0px 20px 0px;
    padding-bottom:20px;
    text-decoration: none;
    margin:0px;
    font-size:26px;
    font-weight: 500;


}

table.wyszukaj td{
    width:400px;
    text-align:center;
    border-bottom: 1px solid #e9ebee;
    padding:20px;
}
 

thead{
    font-weight:bold;
}

table.zamowienia td{
    width:400px;
    text-align:center;
    border-bottom: 1px solid #e9ebee;
    padding:20px;
}
.opinie{width:100%;}

table.opinie td{
    border-bottom: 1px solid #e9ebee;
    padding:20px;
}

.admin_t{
    width:100%;
}
table.admin_t td{
    text-align:center;
    border-bottom: 1px solid #e9ebee;
    padding:20px;
}

input,select{
 padding: 10px 20px;
  border: 1px solid #b7b7b7;
      border-radius: 3px;
}
input.szukaj{
    width:400px;

}

input[type=submit] {
    cursor:pointer;
}



label{
    display:block;
    margin-bottom:10px;
}

div.ksiazka {
background: url(./images/tlo.png) repeat-x 0 0;


border-radius:20px;
padding: 10px;

margin-left: 60px;
margin-top: 20px;
width: 260px;
height: 240px;
font-size: 15px;
	text-align: center;
	float: left;
	position:relative;
    border:1px solid #fff;
}

div.ksiazka img{margin-top:20px;margin-bottom:10px; max-width: 250px; max-height: 140px;}

span.ile {font-size: 16px;font-weight:bold;}

div.ksiazka:hover{
border:1px solid #E5E3E3; 
border-radius:5px;

}

aside ul{
        list-style-type:none;

    padding: 0;
    margin-top:0px;
}
aside li {
    padding-left: 20px;
    padding-top:12px;
    width:300px;
    height:40px;
    background-color:#e5e3e3;
    border-bottom: 1px solid #d6d6d6;
    transition-duration: 1s;
    
}


li img{
    vertical-align: middle;
}

aside li:hover ul.sub-menu{
    display:block;

}

aside li:hover{background:#CECECE;}
article{
    display:inline-block;
    background-color:#fff;
        width:100%;
    padding:10px;
}

aside li:hover .sub-menu {
	opacity:1;
    z-index:1;
}

nav ul{
        list-style-type:none;
    margin: 0;
    padding: 5px 20px 5px 20px;
    background: #343333;
    
}
nav li {
    display:inline-block;
    color:#e9ebee;
    padding:10px;

}
nav li a,nav li a:hover {color:#e9ebee;text-decoration: none;}

nav li:hover{
        background:#1c637f;
        border-radius:10px;


}

.boczny{
    background-color:brown;
    width:33.33%;
}


footer{
    background-color:#1D1B1B;
        display: flex;
    color:#fff;
    height:110px;
    padding:20px;

}

div.ftleft{
    flex:1;
}
div.ftleft img{
    opacity:0.3;
    transition-duration: 2s;
}
div.ftleft img:hover{
    opacity:1;
}
div.ftmid{
    flex:1;
}
div.ftright{
    flex:1;
    text-align:right;
}
p.title{
    font-weight: 700;
}
#panelpodzial{
    display:flex;
}
div.podziall{
    width:40%;
    padding:50px;
    border-right:1px solid #e9ebee;
}
div.podzialp{
    width:40%;
    padding:50px;
}

img.imksiazka{
    float:left;
    margin-right:20px;
    max-width: 256px;
    max-height: 140px;
}

.correct {
    padding: 20px;
    background-color: #4CAF50; 
    color: white;
    margin-bottom: 15px;

}

    .liczba{
    position: relative;
    left: 50px;
    top: -10px;
    background-color: #1c637f;
    color: white;
    border-radius: 5px;
    padding: 5px;
    }

.alert {
    padding: 20px;
    background-color: #ff9800; 
    color: white;
    margin-bottom: 15px;
}

.error {
    padding: 20px;
    background-color: #f44336; 
    color: white;
    margin-bottom: 15px;
}
.kont_calosc{
      display: flex;
}
.kont1{
    flex:1;
flex-basis: 33%;}
.kont2{
    flex:2;
flex-basis: 33%;}
.kont3{
    flex:3;
flex-basis: 33%;
margin-left:10px;
background-color: #dfdfe5;
border-radius: 20px;
    padding:10px;

}

.odstep{
    line-height: 50px;
}

.kont1>h2,.kont2>h2,.kont3>h2{text-align: center;}

.radio_koszyk{
    margin: 20px;
}

.adres_calosc{
      display: flex;
}
.kont1_adres{
    flex:1;
flex-basis: 33%;
padding-left:140px;}

.kont2_adres{
    flex:2;
flex-basis: 33%;
padding-left:100px;
}

.niezal-adres{
        margin-left: 245px;
}




.red{
    color:red;
    text-decoration: line-through;
}

.kont1_adres>h2,.kont2_adres>h2
{text-align: center;
    margin-left: -150px;}

.obrkoszyk{
    max-height: 250px;
    max-width: 250px;
}